@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/arial/arial-regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/georgia/georgia-regular.ttf') format('ttf'),
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  background-color: #fff;

}

h1,
h2,
h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  color: #545454;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #545454;
}

ul {
  list-style: none;
}

.btn {
  margin: 0;
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  border-color: transparent;
  background-color: #F1CDB3;
  display: inline-block;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  /* padding: 30px 40px; */
  padding-top: 30px;
  display: flex;
  align-items: center;
}

/* header */

.section-header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
}

header .wrapper {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-title {
  margin-bottom: 10px;
}

.logo-subtitle {
  margin-left: 4px;
  color: #292929;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.header-nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  color: #292929;
  font-size: 15px;
  line-height: 160%;
}

.nav-item:not(:last-child) {
  margin-right: 35px;
}

.nav-item a.active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.nav-item a:hover {
  color: #545454;
}

/* friends */

.section-friends {
  margin: 0 auto;
  background-color: #f6f6f6;
}

.section-friends .wrapper {
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.friends-heading {
  text-align: center;
}

.friends-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.card:nth-child(-n +4) {
  margin-bottom: 30px;
}

.friends-name {
  margin: 30px;

  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.friends-card-btn {
  margin-bottom: 30px;
  background-color: #fafafa;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
}

.friends-card-link {
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
}

.card:hover {
  cursor: pointer;
}

.card:hover .friends-card-btn {
  background-color: #F1CDB3;
  cursor: pointer;
}


.cards-nav {
  display: flex;
}

.friends-btn {
  display: flex;
  align-self: center;
  margin-top: 60px;
  width: 52px;
  height: 52px;
  background-color: #f6f6f6;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.friends-btn:not(:last-child) {
  margin-right: 20px;
}

.btn-arrow {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.btn-right:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.btn-1 {
  background-color: #F1CDB3;
}

.btn-left {
  border: 2px solid #CDCDCD;
}

/* footer */

.section-footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #211F20;
  ;
}

.section-footer .wrapper {
  padding-bottom: 0;
}

.footer-heading {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  max-height: 90px;
}

.footer-questions,
.footer-address {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  background-position: 60px;
  margin-bottom: 60px;
}

.footer-address {
  margin-left: 160px;
  margin-right: 160px;
}

.footer-mail {
  margin-top: 40px;
  margin-bottom: 40px;
}

.address-text,
.footer-questions a {
  color: #F1CDB3;
}

.footer-phone a {
  display: flex;
  align-items: center;
}

.address-boston a {
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 32px;
}

.address-london a {
  display: flex;
  align-items: center;
}

.footer-address img,
.footer-questions img {
  margin-right: 20px;
}

.footer-questions span,
.footer-address span {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer-img {
  max-height: 310px;
}
