@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/arial/arial-regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/georgia/georgia-regular.ttf') format('ttf'),
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

/* .all {
  margin: 0 auto;
  width: 1280px;
} */

a {
  text-decoration: none;
  color: #292929;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

section {
  /* width: 1280px; */
  padding-right: 40px;
  padding-left: 40px;

}

.btn:hover,
.button:hover {
  cursor: pointer;
}

span {
  margin: 0;
}

.heading {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
}

.btn {
  margin: 0;
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  border-color: transparent;
  background-color: #F1CDB3;
  display: inline-block;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* header */
.section-start {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%, #211F20)
}

.section-start .wrapper {
  padding-bottom: 0;
  padding-top: 60px;
}

.header {
  display: flex;
  align-items: center;
}

.logo-title {
  margin-bottom: 10px;
}

.logo-link {
  color: #F1CDB3;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo-subtitle {
  margin-left: 4px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.header-nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 160%;
}

.nav-item:not(:last-child) {
  margin-right: 35px;
}

.nav-item a.active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.nav-item a:hover {
  color: #FAFAFA;
}

.header-content {
  display: flex;
  padding: 0;
  margin-top: 60px;
}

.start-content {
  padding-top: 156px;
  padding-bottom: 236px;
  align-self: center;
  max-width: 460px;
  /* margin-right: 42px; */
}

.header-content-heading {
  max-width: 310px;
  color: #FFF;
  font-size: 44px;
  line-height: 130%;
}

.header-content-description {
  max-width: 460px;
  margin: 42px 0;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 160%;
}

.header-btn:hover {
  background-color: #FDDCC4;
}

.header-btn-link {
  color: #292929;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 0.06em;
}

.start-dog {
  height: 728px;
  margin-left: 3%;
}

/* about */

.section-about .wrapper {
  max-width: 1200px;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.about-dog {
  width: 50%;
}

.about-dog-img {
  vertical-align: bottom;
  margin-left: 175px;
}

.about-heading {
  color: #4C4C4C;
}

.about-content {
  width: 50.85%;
  align-self: center;
}

.about-description {
  margin-top: 25px;
  margin-right: 175px;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

/* friends */

.section-friends {
  background-color: #f6f6f6;
}

.section-friends .wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.friends-heading {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.friends-cards {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  cursor: pointer;
}

.card:hover .friends-card-btn {
  background-color: #FDDCC4;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.friends-name {
  margin: 30px;

  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.friends-card-btn {
  margin-bottom: 30px;
  background-color: #fafafa;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
}

.friends-card-link {
  color: #292929;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.friends-btn-change {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #f6f6f6;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.friends-btn-change:hover {
  background-color: #FDDCC4;
}

.btn-arrow {
  display: inline-block;
}

.friends-btn {
  display: inline-block;
  margin: 60px auto 0;
}

.friends-btn:hover {
  background-color: #FDDCC4;
}

.friends-link {
  color: #292929;
}

/* help */

.section-help .wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.help-heading {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 20%;
  height: 113px;
}

.help-item:nth-child(-n +5) {
  margin-bottom: 55px;
}

.item-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* addition */

.section-addition {
  background-color: #F6F6F6;

}

.section-addition .wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 143px;
  padding-right: 142px;
}

.addition {
  display: flex;
  align-items: center;
  justify-content: center;

}

.donation-img {
  margin-top: 11px;
  margin-bottom: 10px;
  max-height: 261px;
}

.donation-content {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-left: 30px;
}

.donation-heading {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-bank {
  margin-top: 20px;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;

}

.donation-card {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 9px;
}

.donation-card:hover {
  background-color: #FDDCC4;
}

.card-icon {
  margin-right: 15px;
  vertical-align: bottom;
}

.card-svg {
  vertical-align: middle;
}

.card-number {
  display: inline-block;
  color: #545454;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  transform: translateY(2px);
}

.donation-imformation {
  display: inline-block;
  color: #b2b2b2;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* footer */

.section-footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #211F20;
}

.section-footer .wrapper {
  display: flex;
  padding-top: 40px;
  padding-bottom: 0;
}

.footer-heading {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  max-height: 90px;
}

.footer-questions,
.footer-address {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  background-position: 60px;
  margin-bottom: 60px;
}

.footer-address {
  margin-left: 160px;
  margin-right: 160px;
}

.footer-mail {
  margin-top: 40px;
  margin-bottom: 40px;
}

.address-text,
.footer-questions a {
  color: #F1CDB3;
}

.footer-phone a {
  display: flex;
  align-items: center;
}

.address-boston a {
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 32px;
}

.address-london a {
  display: flex;
  align-items: center;
}

.footer-address img,
.footer-questions img {
  margin-right: 20px;
}

.footer-questions span,
.footer-address span {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer-img {
  max-height: 310px;
}
